<section id="ofertas" class="small-12 float-left rel">
    <div class="row rel">
        <a href="#" class="icon-chevron-right nav-banners next" title=""></a>
        <a href="#" class="icon-chevron-left nav-banners prev" title=""></a>

        <nav class="small-12 columns rel cycle-slideshow"
             data-cycle-timeout="6000"
             data-cycle-next=".next"
             data-cycle-prev=".prev"
             data-cycle-fx="scrollHorz"
             data-cycle-slides="> figure"
             data-cycle-swipe="true"
             data-cycle-swipe-fx="scrollHorz"
             data-cycle-pager=".cycle-pager"
             data-cycle-pager-template="<span></span>"
        >
            <figure>
                <a href="#" title="">
                    <img src="{{root}}assets/img/banners/banner-1.png" alt="">
                </a>
            </figure>

            <figure>
                <a href="#" title="">
                    <img src="{{root}}assets/img/banners/banner-1.png" alt="">
                </a>
            </figure>
        </nav>

        <div class="bars first"></div>
        <div class="bars last"></div>
        <div class="cycle-pager"></div>
    </div>

    <div class="pink-gradient show-for-large"></div>
</section>