<footer id="footer" class="small-12 float-left">
    <div class="row">
        <div class="small-12 medium-4 columns footer-widget">
            <h2>Telefones</h2>

            <p class="small-12 large-6 float-left fone">
                <a href="tel:(83) 98888-8888">(83) 98888-8888</a>
                <small>João Pessoa/PB</small>
            </p>

            <p class="small-12 large-6 float-left fone">
                <a href="tel:(83) 98888-8888">(83) 98888-8888</a>
                <small>Demais localidades</small>
            </p>
        </div>

        <div class="small-12 medium-4 columns footer-widget">
            <h2>Acompanhe a Qualy</h2>
            <p class="social">
                <a href="#" title="Siga-nos no Facebook" class="icon-facebook2" target="_blank"></a>
                <a href="#" title="Siga-nos no Twitter" class="icon-twitter" target="_blank"></a>
                <a href="#" title="Siga-nos no Instagram" class="icon-instagram" target="_blank"></a>
            </p>
        </div>

        <div class="small-12 medium-4 columns footer-widget">
            <h2>Formas de pagamento</h2>
            <figure class="pays">
                <img src="{{root}}assets/img/pays.png" alt="">
                <figcaption>
                    <p class="no-margin"><small>Cartão de crédito e boleto</small></p>
                    <p class="no-margin"><small>Em até 10x sem juros no cartão</small></p>
                    <p class="no-margin"><small>Parcela mínima de R$10,00</small></p>
                    <p class="no-margin"><small>Condições de pagamento válida apenas para o site</small></p>
                </figcaption>
            </figure>
        </div>

        <div class="credits small-12 columns">
            <p class="small-12 medium-6 float-left no-margin">
                <small>Copyright &copy; 2016. Todos os direitos reservados.</small>
            </p>

            <p class="small-12 medium-6 float-right no-margin text-right">
                <a href="http://www.lumenagencia.com.br/" target="_blank" title="Desenvolvido pela Lumen Comunicação">
                    <img src="{{root}}assets/img/lumen.png" alt="">
                </a>
            </p>
        </div>
    </div>
</footer>